.exitGiorno
{
    position: absolute;
    display: inline-block; 
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-image: url("../img/imgProgetto/exit-giorno.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 13px 17px;
    transition: 0.5s all;
}
.exitGiorno:hover
{
    background-color: rgb(127, 127, 127);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    background-image: url("../img/imgProgetto/exit-giorno-hover.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 7px 17px;
    transition: 0.5s all;
}

.exitNotte
{
    position: absolute;
    display: inline-block; 
    text-decoration: none;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-image: url("../img/imgProgetto/exit-notte.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 13px 17px;
    transition: 0.5s all;
}
.exitNotte:hover
{
    background-color: rgb(127, 127, 127);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    background-image: url("../img/imgProgetto/exit-notte-hover.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 7px 17px;
    transition: 0.5s all;
}

